.root {
    -fx-background-color: #292929;
}

.table-view {
    -fx-background-color: #424242;
}

.label, .table-view .table-cell, .button, .text-field {
    -fx-text-fill: derive(-fx-control-inner-background, -10%);
}

.column-header .label {
    -fx-background-color: #616161;
}

.column-header {
    -fx-background-color: #616161;
}

.table-row-cell {
    -fx-background-color: #494949;
}

.table-row-cell:odd {
    -fx-background-color: #505050;
}

.table-row-cell:selected, .table-view:selected {
    -fx-background-color: #707070;
}

.button {
    -fx-background-color: #424242;
}

.text-field {
    -fx-background-color: #424242;
}