.root {
    -fx-background-color: #292929;
}

.label, .button, .text-field {
    -fx-text-fill: derive(-fx-control-inner-background, -10%);
}

.button, .text-field {
    -fx-background-color: #424242;
}

